{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}

   
    <section class="course_info">

        {% if course %}
            <table class="table">
                <thead>
                    <div class="course_header"><h1>{{code}}: {{course_name|join(', ')}}</h1>
                            <a type="button" href="/course/{{code}}/enroll"><img src="{{url_for('static', filename='/images/courseinfo_heart.png')}}"/>Add to Enrolment Cart</a>  
                    </div>
                </thead>
                <tbody id="courseInfo">
                    {% for key, content in course %}
                         <tr><td class="col-2"><h5>{{key}}</h5></td>
                        {% if not content %}
                            <td class="col-2">N/A</td>
                            {% continue %}
                        {% endif %}
                        {% if content is iterable and (content is not string and content is not mapping) %}
                            {% set content = content|join(', ') %}
                        {% endif %}                     
                        {% if "Description" in key %}
                            <td class="col-8 description"> <p class="many-text">{{content}}</p> 
                                    <span type="button" class="toggle-text" onclick="toggleText(this)">Read More</span></td></tr>
                        {% else %}
                            <td class="col-8">{{content|safe}}</td></tr>       
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Course not exist!</p>
        {% endif %}
    </section>

    <section class="discussion">
        <h1>Discussion</h1>
        <form class="row g-3" action="/course/{{code}}/add_comment" method="post">
            <textarea class="form-control" name="message" rows="4" placeholder="What's up?" required></textarea>
            <div class="col-8">

            </div>
            <div class="col-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="anonymous">
                <label class="form-check-label" for="flexCheckDefault">
                    Post Anonymously
                </label>
             </div>
            <button type="submit" class="col-2 btn btn-primary">Add Comment</button>
           
        </form>

        <h3>{{comments|length}} comments</h3>
        <table class="table">    
            {% for comment in comments %}
                {% set postID = comment['PostID'] %}
                <tr>
                    <td class="col-1 align-middle text-center">
                        <figure class="figure">
                            <img class="user" src="{{url_for('static', filename='images/discussionboard_user.png')}}"  alt="User">
                            <figcaption class="figure-caption">{{comment['User']}}</figcaption>
                        </figure>
                    </td>
                    <td class="col-7 align-middle">
                        <p class="message">
                        {{comment['Message']}}
                        </p>
                    </td>
                    <td class="col-1">
                        <i class="fa fa-lg fa-heart" onclick="toggleHeartColor(this, '{{code}}', '{{postID}}')"></i>
                        <span class="like">{{comment['NumLikes']}}</span>
                    </td>
                    <td class="col-1"><i>{{comment['DateTime']}}</i></td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <script type="application/javascript" src="{{url_for('static', filename='scripts/course.js')}}"></script>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/course.css') }}">

{% endblock %}