{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block content %}

   
    <section class="course_info">
        <h1>Course Information</h1>
        {% if course %}
            <table class="table">
                <tbody id="courseInfo">
                    {% for key in course %}
                         <tr><td class="col-2"><h5>{{key}}</h5></td>
                        {% set content = course[key] %}
                        {% if not content %}
                            <td class="col-2">N/A</td>
                            {% continue %}
                        {% endif %}
                        {% if content is iterable and (content is not string and content is not mapping) %}
                            {% set content = content|join(', ') %}
                        {% endif %}                     
                        {% if "Description" in key %}
                            <td class="col-8 description"> <p class="many-text">{{content}}</p> 
                                    <span type="button" class="toggle-text" onclick="toggleText(this)">Read More</span></td></tr>
                        {% else %}
                            <td class="col-8">{{content|safe}}</td></tr>       
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Course not exist!</p>
        {% endif %}
    </section>

    <section class="discussion">
        <h1>Discussion</h1>
        <form class="row g-3" action="/course/{{code}}/add_comment" method="post">
            <textarea class="form-control" rows="4" placeholder="What's up?" required></textarea>
            <span class="col-8"></span>
            <button type="submit" class="btn btn-primary col-4">Add Comment</button>
        </form>

        <h3>{{comments|length}} comments</h3>
        <table class="table">    
            {% for comment in comments %}
                <tr>
                    <td class="col-1">
                        <figure class="figure">
                            <img class="user" src="{{url_for('static', filename='images/discussionboard_user.png')}}"  alt="User">
                            <figcaption class="figure-caption">{{comment['user']}}</figcaption>
                        </figure>
                    </td>
                    <td class="col-7 align-middle">
                        <p class="message">
                        {{comment['message']}}
                        </p>
                    </td>
                    <td class="col-1">
                        <i class="fa fa-lg fa-heart" onclick="toggleHeartColor(this)"></i>
                        <span class="like">{{comment['like']}}</span>
                    </td>
                    <td class="col-1"><i>{{comment['time']}}</i></td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <script src="{{url_for('static', filename='scripts/course.js')}}"></script>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/course.css') }}">

{% endblock %}