<link rel="stylesheet" href="{{ url_for('static',filename='styles/navbar.css') }}">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/"><img class="navbar-brand img-primary" src="static/images/logo-test.png" alt="OneCourse" height="40px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/search"><b>Search</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/enroll"><b>Enroll</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/#"><b>Item3</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/#"><b>Item4</b></a>
                </li>
            </ul>
            <ul class="navbar-nav mx-right">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/setting">
                        <i class="fa fa-fw fa-bell"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/contact">
                        <i class="fa fa-fw fa-cog"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/user">
                        <i class="fa fa-fw fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
