
/* table{
    margin-top: 20px;
}
table, th, td, tr {
    border: 1px solid black;
} */
section{
    margin: 60px;
}
section.course_info h1 {
    padding: 20px;
}


.many-text{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.all-text{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 100;
    -webkit-box-orient: vertical;
}

td.description{
    position: relative;
}

.toggle-text{
    position: absolute;
    color: blue;
    text-decoration: underline;
    margin-top: 5px;
    bottom: 0;
    right: 0;
    z-index: 10;
}

img.user{
    width:60px;
    height:60px;
}
.figure {display: table;margin-right: auto;margin-left: auto;}
.figure-caption {display: table-caption;caption-side: bottom;text-align: center;}

td p.message{
    font-family: cursive;
}

span.like{
    font-size: large;
    font-weight:normal;
}

i.fa-heart{
    margin-right: 5px;
}

i.fa-heart:hover {
    transform: scale(1.5);
    
}
