section{
    margin: 40px auto;
}
section.course_info h1 {

    padding: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 100px;
}


.many-text{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.all-text{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 100;
    -webkit-box-orient: vertical;
}

td.description{
    position: relative;
}

.toggle-text{
    position: absolute;
    color: blue;
    text-decoration: underline;
    margin-top: 5px;
    bottom: 0;
    right: 0;
    z-index: 10;
}

img.user{
    width:60px;
    height:60px;
}
.figure {display: table;margin-right: auto;margin-left: auto;}
.figure-caption {display: table-caption;caption-side: bottom;text-align: center;}

td p.message{
    font-family: cursive;
}

span.like{
    font-size: large;
    font-weight:normal;
}

i.fa-heart{
    margin-right: 5px;
}

i.fa-heart:hover {
    transform: scale(1.5);
    
}

div.course_header {
  display: flex;
  position: relative;
  align-items: center;
}
div.course_header h1 {
  margin: 0;
}

/* div.course_header button {
  position: absolute;
  right:0;
  border: 3px solid black;
  border-color: #2196F3;
  color: dodgerblue;
  background-color: transparent;
  color: black;
  padding: 4px 30px;
  font-size:large;
  cursor: pointer;
  border-radius: 7px;
  text-decoration: none;
}
div.course_header button:hover {
  background: #2196F3;
  color: white;
} */

div.course_header button img{
    width:25px;
    height:25px;
    margin-right: 20px;
}


.bg-model {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
    left:0;
	display: none;
	justify-content: center;
	align-items: center;
}

.model-contents {
	height: 280px;
	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

form.enroll_course input {
	margin: 30px auto;
	display: block;
	width: 70%;
	padding: 8px;
	border: 1px solid gray;
}

form select {
	margin: 40px auto;
	display: block;
}

.close {
	position: absolute;
	top: 0;
	right: 8px;
	font-size: 35px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.custom{
    width: 20%;
    padding: 8px;
}

button{
    font-size: large;
}

.btn-primary{
    background-color: #3C64B1;
    border-color: #3C64B1;
    /* margin-left: 100px; */
    /* margin-bottom: 10px; */
}

